  body
  {
    color: rgb(255, 0, 0);
    background: rgb(255, 98, 0);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed rgb(34, 0, 255);
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: yellow;
  }
